__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.log
*.sqlite3
.pytest_cache/
.ipynb_checkpoints
*.ipynb
uber.csv
taxi_fare_model.pkl
